body{
    background-color: rgb(192, 192, 242);
}

.intro{
    text-align: center;
    color: black;
    font-size: 25px;
}

ul{
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

table{
    margin-top: 100px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}

.green{
    background-color: rgb(169, 232, 169);
}

.bck{
    margin-top: 100px;
}